
.card{
    width: 80%;
    height: 100%;
    margin-top: 1%;
    margin: 1% auto;

    display: flex;
    flex-direction: column;
}
.divColorCard{
    background-color: red;
    
}
.divColorCard > img{
    width: 20%;
}
.pokemonInfo{
    background-color: black;

    color: white;
    flex-grow: 1;
}
