*{
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    box-sizing: border-box;
}

body{
    text-align: center;
    min-height: 100vh;

    background: linear-gradient(to bottom, #6ab7f5, #fff)
}
.main{
    display: inline-block;
    padding: 10px;

    position: relative;

    
}
.pokedex{
    width: 100%;
    max-width: 425px;
}
.poke-image{
    position: absolute;
    z-index: 2;

    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);

    height: 18%;
}
.poke-name{
    position: absolute;
    z-index: 2;

    top: 55%;
    right: 25%;

    font-weight: 600;

    color: #3a444d;

    text-transform: capitalize;

    font-size: clamp(12px, 10vw, 30px);
}
.poke-name > span{
    color: #aaa;
}
.buttons{
    display: flex;
    gap: 15px;

    width: 65%;
    position: absolute;

    bottom: 10%;
    left: 15%;
}