.statsConteiner {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.statsInfomations {
    display: flex;
    flex-direction: column;
}
.statsNames{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.statsNames > p{
    word-break: keep-all;
    
}
.statsValues{
    display: flex;
    gap: 5px;
    align-items: center;
}